@media (max-width: 80.75em) {
  .nav {
    justify-content: center; }}

body{background-color:#184A45FF;}

#welcome-section{height:100vh;
background-color:#184A45FF;
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

h1{color:#FAD0C9FF;
  font-size:400%;
  text-align:center;
width:100%;
font-family: 'Open Sans Condensed', sans-serif;}

h2{color:#FC766AFF;
font-size:200%;
  text-align:center;
  font-family: 'Open Sans Condensed', sans-serif;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FAD0C9FF;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;

}
li a {font-size: 1rem;
  padding: 1rem;
  display: block;
  color: #184A45FF;
  text-align: center;
  text-decoration: none;
}
li a:hover {background-color: #FC766AFF;}

#projects{
background-color:#184A45FF;
 box-sizing: border-box;
  }
.project-tile{display: grid;

    grid-template-columns: repeat(auto-fit, minmax(320px, 8fr));

  column-gap: 10px;
  row-gap: 15px;
  margin: 0 auto;
  margin-bottom: 6rem;

   margin: 0 auto;
  margin-bottom: 1rem;
  top:100px;}
  .project-image {width:100%;
 height:15em;
    margin-left:auto;
    margin-right:auto;
  object-fit: cover;
 box-sizing: border-box;
  text-decoration: none;
   border-radius: 3px;}

.text-below {box-sizing: border-box;
font-size: 1.5rem;
  padding: 2rem 0.5rem;
  background-color:#FC766AFF;
  text-align:center;
   font-family:'Open Sans Condensed', sans-serif;
  text-decoration: none;}

 a  > .text-below{color:#184A45FF;
    background-color:#FAD0C9FF;
    text-decoration: none;
  border-radius: 3px;
text-decoration: none;}

a:hover > .text-below { background-color: #FC766AFF;
    font-size: 1.9rem;
text-decoration: none;}

  #profile{position:relative;

    display:block;
    margin:auto; }
.profiles a{text-decoration: none;
  background-color: #FAD0C9FF;
    font-size: 1.9rem;
 text-align:center;
 margin-left:auto;
    margin-right:auto;
  object-fit: cover;
 box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
color:#184A45FF;
  margin:1em;
padding:.2em;
border-radius:3px;
line-height: 150%; }
.profiles a:hover{font-size:200%;
  background-color: #FC766AFF;
}
#projects h1{padding:.3em;
   border-bottom: 10px solid #FC766AFF;
}
#profile h1{padding:.3em;
   border-bottom: 10px solid #FC766AFF;
}
#footer{  background-color: #FAD0C9FF;
  padding:.3em;
  border-bottom: 3px solid #FC766AFF;
   border-top: 3px solid #FC766AFF;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align:center;
  color:#184A45FF;
  border-radius:3px;
  padding: 10px;
}
